################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/CPKReaderWV/v15/Server/sqlite3/db.lock
