################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/CPKReaderWV/v15/Server/sqlite3/db.lock
/.vs/CPKReaderWV/v15/Server/sqlite3/storage.ide
/.vs/CPKReaderWV/v15/Server/sqlite3/storage.ide-shm
/.vs/CPKReaderWV/v15/Server/sqlite3/storage.ide-wal
/Be.Windows.Forms.HexBox/obj/Debug/Be.Windows.Forms.HexBox.csproj.CoreCompileInputs.cache
/Be.Windows.Forms.HexBox/obj/Debug/Be.Windows.Forms.HexBox.csprojAssemblyReference.cache
/CPKReaderWV/obj/Debug/CPKReaderWV.csproj.CoreCompileInputs.cache
/CPKReaderWV/obj/Debug/CPKReaderWV.csprojAssemblyReference.cache
/CPKReaderWV/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CPKReaderWV/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CPKReaderWV/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/.vs/CPKReaderWV/v15/.suo
/.vs/CPKReaderWV/v16/Server/sqlite3/db.lock
/.vs/CPKReaderWV/v16/Server/sqlite3/storage.ide
/.vs/CPKReaderWV/v16/Server/sqlite3/storage.ide-shm
/.vs/CPKReaderWV/v16/Server/sqlite3/storage.ide-wal
/.vs/CPKReaderWV/v16/.suo
/Be.Windows.Forms.HexBox/bin/Debug/Be.Windows.Forms.HexBox.dll
/Be.Windows.Forms.HexBox/bin/Debug/Be.Windows.Forms.HexBox.pdb
/Be.Windows.Forms.HexBox/bin/Debug/Be.Windows.Forms.HexBox.xml
/Be.Windows.Forms.HexBox/obj/Debug/Be.Windows.Forms.HexBox.csproj.FileListAbsolute.txt
/Be.Windows.Forms.HexBox/obj/Debug/Be.Windows.Forms.HexBox.csproj.GenerateResource.cache
/Be.Windows.Forms.HexBox/obj/Debug/Be.Windows.Forms.HexBox.dll
/Be.Windows.Forms.HexBox/obj/Debug/Be.Windows.Forms.HexBox.pdb
/Be.Windows.Forms.HexBox/obj/Debug/Be.Windows.Forms.HexBox.resources
/Be.Windows.Forms.HexBox/obj/Debug/Be.Windows.Forms.Properties.Resources.resources
/CPKReaderWV/obj/Debug/CPKReaderWV.csproj.FileListAbsolute.txt
/CPKReaderWV/obj/Debug/CPKReaderWV.csproj.GenerateResource.cache
/CPKReaderWV/obj/Debug/CPKReaderWV.Form1.resources
/CPKReaderWV/obj/Debug/CPKReaderWV.Properties.Resources.resources
